<div id="admin" class="grid_16">
<span style="color: red"><%= flash[:error] %>&nbsp;</span>
<h1> Confirm worker removal</h1>
<% if @worker %>
    Are you sure you want to remove the worker named "<%= @worker.name %>"?<br/>
    <%= link_to 'Remove', @worker.admin_worker_path, :method => :delete %>
<% end %>
</div>