.red {
 color: red; 
}
.orange {
 color: orange; 
}
.green {
 color: green;
}

.due_date{
  padding-top: 20px;
  padding-left: 20px;
		float: left;
		width: 120 px;
		text-align: center;
		font-size: 1.5em;
		width: 50px;
}

ul#client_requests{
 padding: 0px;
 margin-left: 15px;
}

ul#milestones{
 list-style-type: none;
 padding: 0px;
 margin: 0px;
}


li.milestone {
 border-bottom: 1px black solid ;
}
li#current_date{
 padding: 5px 0px 5px 25px;
 border-bottom: 1px black solid ;
}
div.feature{
  padding: 20px;
  margin-left: 100px;  
		border-left: 1px red solid ;
  min-height: 30px;
}


