<div id="admin" class="grid_16">
<span style="color: red"><%= flash[:error] %>&nbsp;</span>
<h1> Confirm group removal</h1>
<% if @client_group %>
    Are you sure you want to remove the client group named "<%= @client_group.name %>"?<br/>
    <%= link_to 'Remove', @client_group.admin_client_group_path, :method => :delete %>
<% end %>
</div>