<div id="admin" class="grid_16">
<span style="color: red"><%= flash[:error] %>&nbsp;</span>
<h1> Confirm group removal</h1>
<% if @worker_group %>
    Are you sure you want to remove the worker group named "<%= @worker_group.name %>"?<br/>
    <%= link_to 'Remove', @worker_group.admin_worker_group_path, :method => :delete %>
<% end %>
</div>