<!-- The following span tag helps pagination scripts detect if next/previous links are clicked -->
<ul class="nav" id="bottom">
  <%
    status = ""
    if session[:active_project].nil?
      status = "active"
    end
  %>
  <li>
    <%= link_to "All", "/timesheets/list/project/all", :class => status %>
  </li>
  <li class="paginate_prev">
    <%= will_paginate projects,
      :renderer => "RemoteLinkRenderer",
      :remote => {:update => 'bottom'},
      :page_links => false,
      :previous_label => "&laquo;",
      :next_label => "&raquo;",
      :params => {:controller => :projects, :action => :paginate, :type => "timesheet", :authenticity_token => nil} %>
  </li>
  <% for project in projects %>
    <%
      status = ""
      if project.id == session[:active_project].to_i
        status = "active"
      end
    %>
    <li>
      <%= link_to project.name, "/timesheets/list/project/#{project.id}", :class => status %>
    </li>
  <% end %>
  <li class="paginate_next">
    <%= will_paginate projects,
      :renderer => "RemoteLinkRenderer",
      :remote => {:update => 'bottom'},
      :page_links => false,
      :previous_label => "&laquo;",
      :next_label => "&raquo;",
      :params => {:controller => :projects, :action => :paginate, :type => "timesheet", :authenticity_token => nil} %>
  </li>
  <li id="spinner"></li>
</ul>