<div class="grid_16" id="site_info">
  <div class="box">
    <p>
      All Content is &copy;2010 ENDAX, LLC. &nbsp; Layout Based on the Fluid 960 Grid System, created by <a rel="external" href="http://www.domain7.com/WhoWeAre/StephenBau.html">Stephen Bau</a>
    </p>
  </div>
</div>
<div class="clear"></div>
